* {
    margin: 0;
    padding: 0;
     font-family: "Azeret Mono", monospace;
}


.nav-title{
    color: #0D1321;
    font-size: 28px;
    font-weight: bolde;
}
.primary-btn{
    color: #373A50;
    font-size: 20px;
    font-weight: 600;
    padding: 17px 24px;
    border-radius: 8px;
    border:1px solid #1E1E1E;
    background-color: #fff;
}
nav{
    display: flex;
    justify-content: space-between;
    margin: 40px 150px 35px;
}


.banner{
    background-image: url('../assets/Hero-bg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
}

.banner-content{
    text-align: center;
     margin: 0 auto;
    width: 998px;
}

.banner-img{
    padding-top: 28px;
}

.banner-title{
    color: #0D1321;
    font-size: 48px;
    font-weight: 800;
    padding: 32px 0 28px;
}
.banner-description{
    font-size: 16px;
    font-weight: 400;
    padding-bottom: 32px;
}

.snd-btn{
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    padding: 17px 24px;
    border-radius: 8px;
    border:1px solid #1E1E1E;
    background-color: #0D1321;
    margin-bottom: 32px;
}